<footer class="footer mt-2 py-2">

	<div class="container">
		<div
			class="row text-center text-md-start d-flex flex-column flex-md-row align-items-center justify-content-between">

			<!-- Logo - Left -->
			<div class="col-md-3 d-flex flex-row align-items-center justify-content-start mb-4 mb-md-0">
				<a href="{{ path('app_accueil') }}" class="logo-link d-flex align-items-center">
					<img src="{{ asset('images/Logo.png') }}" alt="VillageGreen Logo" style="height: 80px;">
					<span class="logo-text ms-2 text-nowrap">
						<span class="village">Village</span>
						<span class="green">Green</span>
					</span>
				</a>
			</div>


			<!-- Center Links -->
			<div class="col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
				<a href="#">Qui sommes nous</a>
				<a href="#">Nos magasins</a>
				<a href="#">Informations légales</a>
			</div>

			<!-- Social Icons -->
			<div class="col-md-3 d-flex justify-content-center justify-content-md-end">
				<div class="social-icons d-flex flex-row gap-3">
					<a href="#"><img width="34" height="34" src="https://img.icons8.com/fluency/48/linkedin.png" alt="linkedin"/></a>
					<a href="#"><img width="34" height="34" src="https://img.icons8.com/color/48/facebook.png" alt="facebook"/></a>
					<a href="#"><img width="34" height="34" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram"/></a>
					<a href="#"><img width="34" height="34" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
				</div>
			</div>
		</div>
	</div>
</footer>
