{% extends 'base.html.twig' %}

{% block title %}
	{{ categorie.nom }}
{% endblock %}

{% block body %}
	<h2>Sous-catégories de
		{{ categorie.nom }}</h2>
	<ul>
		{% for sousCategorie in sousCategories %}
			<li>{{ sousCategorie.nom }}</li>
		{% else %}
			<li>Aucune sous-catégorie disponible.</li>
		{% endfor %}
	</ul>
{% endblock %}
