/* ====== NAVBAR ====== */
.navbar {
    background: linear-gradient(90deg, #b3b7b1, #0f501d);
    box-shadow: 0 2px 6px rgba(17, 17, 17, 0.15);
    padding: 0.5rem 1rem;
    border-radius: 0;
}

.navbar a {
    color: #1e4b25;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #f4f8f3;
    text-decoration: none;
}

.navbar .nav-link.active {
    font-weight: 400;
    color: #d81f06 !important;
}

/* ====== LOGO ====== */
.logo-text {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin-left: 8px;
}

.village {
    color: #e63946;
}

.green {
    color: #a7e22e;
}

/* ====== SEARCH BAR ====== */
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 0 1rem;
}

.search-container input {
    flex: 1;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: #fff;
    color: #333;
    outline: none;
}

.search-container input:focus {
    box-shadow: 0 0 6px rgba(223, 228, 224, 0.6);
}

.search-btn {
    background: #2d312d;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.search-btn:hover {
    background: #484948;
}

/* ====== ICONS ====== */
.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s, filter 0.3s;
}

.icons a:hover img {
    transform: scale(1.1);
    filter: brightness(1.3);
}

/* ====== RESPONSIVE ====== */

@media (min-width: 380px) and (max-width: 760px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        min-width: 0;
        /* vor input@ chpushvi */
    }

    .search-container input {
        flex: 1 1 auto;
        /* liroom tex */
        min-width: 0;
        /* vor shrink chi */
        margin-right: 0.5rem;
    }

    .icons {
        display: flex;
        flex-shrink: 0;
        /* icone-ner@ mi toxum mnan */
        gap: 0.5rem;
        white-space: nowrap;
        /* chi tuyl tali sharqel 2 toxum */
    }
}
